@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
   font-family: "Inter", sans-serif;
   background-color: hsla(266,61%,11%,1);
}
/* common */

/* nav */
nav
{
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 16px 200px;
  /* margin: 0 auto; */
  
}
nav>ul{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  margin-top: 20px;
}
nav>ul>li
{
  list-style: none;
}
nav>ul>li>a{
  text-decoration: none;
  color: white;
}
nav>h1{
  height: 32px ;
  width:219px ;
  align-items: center;
  justify-items: center;
  color: white;
  margin-top: 20px;
}
nav .diff
{
  background: linear-gradient(#9100F8, #FB09B4, #F7E93F); 
  /* color:transparent; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 nav .button
 {
  width:135px;
  height: 44px;
  display: flex;
  flex-direction: row;
  gap:4px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
  color: white;
  padding:12px 16px;
  margin-left: 16px;
  border-radius: 15px;
  padding: 12px 16px;
  margin-top: 20px;
 }
 nav .button .fa-solid{
    color: white;
 margin-left: 4px;
 margin-right: 16px;
 height: 20px;
 width:20px;
 align-items: center;
 justify-content: center;
 justify-items: center;
 }
 nav .hidden
 {
  display: none;
 }

 /* banner */















































































 @media screen and (max-width:576px)
 {

nav
{
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  width:137px;
  height: 120px;
  
}
nav>ul{
  display:none;
}




 nav .button
 {
  display: none;
 }

 nav .hidden
 {
  display:flex;
  flex-direction: row-reverse;

 }
 }